.Card {
    background-color: red;
    border: 3px solid red;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;

    display: flex;
    flex-direction: column;
    width: 300px;
}

.Card .Title {
    padding: 0px 20px;
    justify-content: center;
}
 
.Card .Content {
    flex-grow: 1;
    background-color: white;
    color: black;
    padding: 10px;
}

.Card summary {
    cursor: pointer;
    list-style: none;
}




  

